/* ALL CSS LIVES HERE... */
 
@font-face {
  font-family:'Avara';
  src: url('./fonts/Avara-Bold_web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*GENERAL STYLING*/

.artworkImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: center;
}

.description {
  
  color: red;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  padding: 8px 6px 8px 6px;
  font-size: 11pt;
  line-height: 12pt;
  text-align: left;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  overflow: scroll;
}

.keyword {
  color: black;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  text-align: left;
  padding: 12px;
  font-size: 16pt;
}

.essayButton{
  overflow: scroll;
  color: white;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  text-align: left;
  padding: 12px;
  font-size: 16px;
}

.twoTags{
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.threeTags {
  grid-column-end: span 3;
  grid-row-end: span 3;
}

.fourTags {
  grid-column-end: span 4;
  grid-row-end: span 4;
}

.span2Row{
  grid-row-end: span 2;
}

.infoPanelDivDesktop{
  grid-row-end: span 2;
}
.infoPanelDivDesktop2, .infoPanelDivTablet, .infoPanelDivMobile{
  display: none;
  grid-row-end: span 2;
}




/* SCROLLBAR */
::-webkit-scrollbar{
  display: none;
}

/* FLOATING BOXES/BOX SHADOW? */
/* .collectionObject, .essayContainer, .descriptionText{
  -webkit-box-shadow: 8px 8px 18px -2px rgba(133,133,133,1);
  -moz-box-shadow: 8px 8px 18px -2px rgba(133,133,133,1);
  box-shadow: 8px 8px 18px -2px rgba(133,133,133,1);
} */

/* LANDING PAGE */

.databaseLanding {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-auto-rows: 11.11%;
  grid-auto-flow: dense;

  /* margin-top: -2px; */
  width: 100vw;
  height: 100vh; 
  overflow: scroll;
}
.databaseLanding > div {
  border: 2px solid red;
  margin: -1px -1px -1px -1px;
}

/* MAIN INTERFACE */

.constellationPanel {
  display: inline-block;
  left: 0;
  position: fixed;
  width: 66.66%;
  height: 100vh;
  background: transparent;
  overflow: scroll;
}

.databasePanel {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 11.11%;
  grid-auto-flow: dense;
  
  border: 1px solid red;
  margin-right: -2px;
  margin-top: -2px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 33.33%;
  height: 100vh;
  position: fixed;
  right: 0;
  background: white;
}
.databasePanel > div {
  border: 2px solid red;
  margin: -1px -1px -1px -1px;
}

.essayButton {
  color: white !important;
  font-size: 12px;
  text-align: center;
  padding: 12px 6px 12px 6px;
}
.essayButton:hover {
  background-color: red;
}

.objectMoreButton{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.objectExitButton{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}
.objectENButton, .objectFRButton{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  text-align: center;
  color: red;
  font-size: 16pt;
  line-height: 52px;
  vertical-align: middle;
}

.objectFRButton{
  right: 50px;
}

.objectENButton{
  right: 100px;
}
.greyOut{
  opacity: 20%;
}

/* INFO PANEL */
.swiper-container{
  height:100%;
  z-index: 0 !important;
}

.infoExitBox{
  grid-column: 15;
  grid-row: 1;
  grid-row-end: span 2;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
}

.infoExitSvg{
  position: absolute;
  width: 50%;
  height: 50%;
}

.infoExitButton img{
  height: 100%;
  width: 100%;
}

.databaseInfo {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-auto-rows: 5.56%;
  grid-auto-flow: dense;

  margin-top: -2px;
  margin-right: -2px;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
}
.databaseInfo > div {
  border: 2px solid red;
  margin: -1px -1px -1px -1px;
}

.infoPanelImage {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 19;
  border: 2px solid red;
  margin: -2px -2px -2px -2px;
  overflow: scroll;
  padding: 5%;
}

.infoPanelArtwork{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
  align-items: center;
}

.copyrightButton{
  color: red;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  font-size: 40px;
  grid-column-start: 14;
  grid-row-end: span 2;
  grid-row-start: 15;
  text-align: center;
  line-height: 11.11vh;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

table{
  display: grid;
  grid-area: 3 / 8 / 19 / 14;
  grid-template-columns: repeat(6, 1fr);  
  grid-template-rows: repeat(16, 1fr);
  overflow-x: hidden;
  overflow-y: scroll;
}

tr{
 grid-column-end: span 6; 
 display: grid;
 grid-template-columns: repeat(6, 1fr);
 grid-area: auto;

}

th{
  grid-column-end: span 2;
}

td{
  grid-column-end: span 4;
}

th, td {

  /* padding: .595vh; */
  padding: 6px 12px 6px 12px;
  text-align: left;
  border: 2px solid red;
  margin: -1px -1px -1px -1px;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  font-size: 1rem;
  color: red;
  border-spacing: none;
 
}

/* ESSAY WINDOW */

.essayContainer{
  position: relative;
  left: 175px;
  border: 2px solid red;
  background: white;
  z-index: 2;
}
.essayHeaderBox{
  position: absolute;
  height: 50px;
  width: 100%;
  border: 2px solid red;
  margin: -2px;
}
.essayHeader{
  height: 50px;
  color: red;
  font-family: Avara, sans-serif;
  font-size: 16pt;
  text-align: left;
  padding-left: 12px;
  line-height: 55px;
  vertical-align: middle;
}

.essayBodyBox{
  position: absolute;
  width: 100%;
  height: 410px;
  bottom: 0;
  top: 70px;
  overflow: scroll;
}

.essayBody {
  color: red;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 400;
  text-align: left;
  padding: 12px;
  overflow: scroll;
}

.essayFootnoteBox {
  position: absolute;
  width: 100%;
  height: 100px;
  background: white;
  bottom: 0;
  text-align: bottom;
  background: linear-gradient(to top,rgb(255, 255, 255) 60%,rgba(57,194,218,0));}

.footnoteEnd {
  color: red;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: 400;
  text-align: left;
  padding: 12px 12px 12px 12px;
  overflow: scroll;
  line-height: 120px;
  vertical-align: bottom;
}

.downloadBox {
  position: absolute;
  background: blue;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 200px;
  line-height: 200px;
  vertical-align: middle;
}

/* DESCRIPTION WINDOW */

.descriptionWindow{
  /* border: 2px solid red; */
  background: white;
  position: relative;
  min-width: 200px;

 
  
}
.descriptionHeaderBox{
  position: absolute;
  height: 50px;
  margin: -2px;
  width: 228px;
  
  
}
.descriptionText{
  position: absolute;
  background: white;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  border: 2px solid red;
  color:  red;
  font-size: 16pt;
  font-weight: 400;
  text-align: left;
  padding: 50px 12px 12px 12px;
  width: 200px;
  

}

/* BODY BORDER  */
.top, .bottom, .left, .right {
	background: red;
  position: fixed;
  z-index: 1000000;
	}
	.left, .right {
		top: 0; bottom: 0;
		width: 2px;
		}
		.left { left: 0; }
		.right { right: 0; }
		
	.top, .bottom {
		left: 0; right: 0;
		height: 2px;
		}
		.top { top: 0; }
		.bottom { bottom: 0; }
