/* ALL CSS LIVES HERE... */
 
@font-face {
  font-family:'Avara';
  src: url(/resi/static/media/Avara-Bold_web.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
:root {
  --swiper-theme-color: rgb(219, 207, 207) !important;
}

/* BODY TEXT */
h1, h2, h3, p{
  margin: 0;
}
/* SCROLLBAR */
body::-webkit-scrollbar{
  display: none;
}

/*CURSORS*/
*{
  cursor: url("http://ellengallery.concordia.ca/resi/static/media/small_arrow_01.svg"), auto ;
}

.cursorPoint {
  cursor: url("http://ellengallery.concordia.ca//resi/static/media/small_arrow_02.svg"), auto !important;
}

.draggable {
  cursor: url("http://ellengallery.concordia.ca//resi/static/media/small_arrow_move.svg"), auto !important;
}
a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

/*GENERAL STYLING*/

.artworkImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: center;
}

.description {
  position: relative;
  color: red;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  padding: 8px 8px 0px 8px;
  font-size: .9rem;
  line-height: 1.12rem;
  text-align: left;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  overflow: scroll;
  scrollbar-width: none;
}
.description::-webkit-scrollbar {
  display: none;
}

.whiteOverlay{
  position: sticky; 
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0 0 2px 0; padding: 10px 0; 
	
  background-image: linear-gradient(to bottom, transparent, white);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.38) 0%, rgba(255,255,255,0.38) 41%, rgba(255,255,255,0.49) 51%, rgba(255,255,255,0.58) 60%, rgba(255,255,255,0.7) 71%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.38)), color-stop(41%, rgba(255,255,255,0.38)), color-stop(51%, rgba(255,255,255,0.49)), color-stop(60%, rgba(255,255,255,0.58)), color-stop(71%, rgba(255,255,255,0.7)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.38) 0%, rgba(255,255,255,0.38) 41%, rgba(255,255,255,0.49) 51%, rgba(255,255,255,0.58) 60%, rgba(255,255,255,0.7) 71%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0.38) 0%, rgba(255,255,255,0.38) 41%, rgba(255,255,255,0.49) 51%, rgba(255,255,255,0.58) 60%, rgba(255,255,255,0.7) 71%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0.38) 0%, rgba(255,255,255,0.38) 41%, rgba(255,255,255,0.49) 51%, rgba(255,255,255,0.58) 60%, rgba(255,255,255,0.7) 71%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.38) 0%, rgba(255,255,255,0.38) 41%, rgba(255,255,255,0.49) 51%, rgba(255,255,255,0.58) 60%, rgba(255,255,255,0.7) 71%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.keyword {
  color: black;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  text-align: left;
  padding: 12px;
  font-size: 16pt;
}

.essayButton{
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 12px 6px 12px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.essayButton p{
  font-size: .9rem;
  line-height: 1.12rem;
  color: white !important;  
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
}

.essayButtonDesc {
  display: none;
}

.essayButton:hover {
  background-color: red;
}
.essayButton:hover .essayButtonDesc{
  display: flex;
}

.essayButton:hover .circleButton{
  display: none;
}

.circleButton {
  position: absolute;
  border: 2px solid red;
  border-radius: 50%;
  width: 6vh;
  height: 6vh;
}

.twoTags{
  grid-column-end: span 2;
  grid-row-end: span 2;
  font-size: 1.5rem;
  line-height: 1.7rem;
}

.threeTags {
  grid-column-end: span 3;
  grid-row-end: span 3;
  font-size: 2rem;
  line-height: 2.2rem;
}

.fourTags {
  grid-column-end: span 4;
  grid-row-end: span 4;
  font-size: 2.5rem;
  line-height: 2.7rem;
}

.span2Row{
  grid-row-end: span 2;
}

.infoPanelDivDesktop{
  grid-row-end: span 2;
}
.infoPanelDivDesktop2, .infoPanelDivTablet, .infoPanelDivMobile{
  display: none;
  grid-row-end: span 2;
}

/* FLOATING BOXES/BOX SHADOW? */
.collectionObject, .essayContainer, .descriptionText {
  -webkit-box-shadow: 8px 8px 18px -2px rgb(61, 61, 61)!important;
  -moz-box-shadow: 8px 8px 18px -2px rgb(61, 61, 61)!important;
  box-shadow: 8px 8px 18px -2px rgb(61, 61, 61)!important;
  background-color: white !important;
}

/* LANDING PAGE */

.databaseLanding {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-auto-rows: 11.11%;
  grid-auto-flow: dense;

  width: 100vw;
  height: 100vh; 
  overflow: scroll;
  scrollbar-width: none;
}
.databaseLanding > div {
  border: 2px solid red;
  margin: -1px -1px -1px -1px;
  justify-items: unset;
}
.databaseLanding::-webkit-scrollbar{
  display: none;
}

/* MAIN INTERFACE */

.constellationPanel {
  display: inline-block;
  left: 0;
  position: fixed;
  width: 66.66%;
  height: 100vh;
  background: transparent;
  overflow: scroll;
  scrollbar-width: none;
}
.constellationPanel::-webkit-scrollbar{
  display: none;
}

.databasePanel {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 11.11%;
  grid-auto-flow: dense;
  border: 1px solid red;
  padding-right: 18px;
  margin-top: -2px;
  overflow-x: hidden;
  overflow-y: overlay;
  width: 33.33%;
  height: 100vh;
  position: fixed;
  right: 0;
  background: white;
  justify-items: unset;
}
.databasePanel > div {
  border: 2px solid red;
  margin: -1px -1px -1px -1px;
}

/* DB PANEL SCROLLBAR */
.databasePanel::-webkit-scrollbar {
  width: 19px;
  height: 19px;
  display:block;
}
.databasePanel::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.databasePanel::-webkit-scrollbar-thumb {
  background: #f3a4a4;
  border: 2px solid #ff2600;
  border-right: none;
  border-radius: 0px;
}
.databasePanel::-webkit-scrollbar-thumb:hover {
  background: #ff2600;
}
.databasePanel::-webkit-scrollbar-thumb:active {
  background: #ff2600;
}
.databasePanel::-webkit-scrollbar-track {
  background: #ffffff;
  border-left: 2px solid #ff2600;
  border-radius: 0px;
}
.databasePanel::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.objectMoreButton{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.objectExitButton{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

.objectExpand {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.objectENButton, .objectFRButton{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  text-align: center;
  color: red;
  font-size: 1rem;
  line-height: 52px;
  vertical-align: middle;
}

.objectFRButton{
  right: 50px;
}

.objectENButton{
  right: 100px;
}
.greyOut{
  opacity: 20%;
}

/* INFO PANEL */
.swiper-container{
  height:100%;
  z-index: 0 !important;
}

.infoExitBox{
  grid-column: 15;
  grid-row: 1;
  grid-row-end: span 2;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
}
.infoExitSvg{
  position: absolute;
  width: 50%;
  height: 50%;
}

.infoExitButton img{
  height: 100%;
  width: 100%;
}
/* .copyrightButton p{
  margin: 29.33%;
} */

body {
  overflow-y: hidden;
}

.databaseInfo {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-auto-rows: 5.56%;
  grid-auto-flow: dense;

  margin-top: -2px;
  margin-right: -2px;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
}

.databaseInfo > div {
  border: 2px solid red;
  margin: -1px -1px -1px -1px;
}

.infoPanelImage {
  grid-area: 3 / 2 / 17 / 8;
  border: 2px solid red;
  margin: -2px -2px -2px -2px;
  overflow: scroll;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  scrollbar-width: none;
}
.infoPanelImage::-webkit-scrollbar{
  display: none;
}

.infoPanelImage .artworkImage{
  /* height:auto; */
  object-fit: contain;
}

.copyrightButton{
  color: red;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  font-size: 40px;
  grid-area: 1 / 14 / 3 / 15;
  text-align: center;
  line-height: 11.11vh;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artworkInfoTable{
  display: grid;
  grid-area: 3 / 8 / 17 / 14;
  
  /* TODO - PLAY WITH ROW MINMAX TO FIT  */
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(16, 5.56vh); 

  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}
.artworkInfoTable::-webkit-scrollbar{
  display: none;
}

tr{
 grid-column-end: span 6; 
 display: grid;
 grid-template-columns: repeat(6, 1fr);
}
th{
  grid-column-end: span 2;
}
td{
  grid-column-end: span 4;
}
td:nth-child(22){
  color: black;
}
td:nth-child(24){
  color: black;
}

.panelHeader{
grid-column-end: span 2;
}

.panelData{
  grid-column-end: span 4;
  }

.span2-row{
  grid-row-end: span 2;
  }
  .span3-row{
    grid-row-end: span 3;
  }
  .span4-row{
    grid-row-end: span 4;
  }

th, td {
  padding: 6px 12px 6px 12px;
  /* padding: .595vh; */
  /* padding: 12px; */
  text-align: left;
  border: 2px solid red;
  margin: -1px -1px -1px -1px;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  font-size: 1.5vh;
  color: red;
  border-spacing: none;
  
}
.infoPanelFiller{
  grid-area: 1 / 1 / 9 / 10;
}

/* ESSAY WINDOW */

.essayContainer{
  width: 400px;
  height: 500px;
  position: relative;
  /* left: 175px; */
  border: 2px solid red;
  background: white;
  overflow-y: hidden;
  overflow-x: hidden;
}

.essayContainerMobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 66.66vh;
  border: 2px solid red;
  background: white;
  z-index: 100000;

}

.copyrightContainerMobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  border: 2px solid red;
  background: white;
  z-index: 100000;
}
.copyrightBodyBox{
  position: fixed;
  width: 358px;
  height: 320px;
  bottom: 0;
  top: 70px;
  overflow: scroll;
  scrollbar-width: none !important;
  padding: 12px;
}
.copyrightBodyBox::-webkit-scrollbar {
  display: none !important;
}


.essayHeaderBox{
  position: absolute;
  height: 50px;
  width: 100%;
  border: 2px solid red;
  margin: -2px;
}

.essayHeader{
  height: 50px;
  color: red;
  font-family: Avara, sans-serif;
  font-size: 1.05rem;
  text-align: left;
  padding-left: 12px;
  line-height: 55px;
  vertical-align: middle;
}

.essayBodyBox{
  position: fixed;
  width: 358px;
  height: 320px;
  bottom: 0;
  top: 70px;
  overflow: scroll;
  scrollbar-width: none !important;
  padding: 12px;
  

}
.essayBodyBox::-webkit-scrollbar {
  display: none !important;
}

.essayBody {
  position: absolute;
  color: red;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  font-size: .9rem;
  line-height: 1.2rem;
  font-weight: 400;
  text-align: left;
  padding: 0px;

}

.creditTable{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr) !important;
  grid-template-rows: repeat(5, auto) !important; 
  font-size: .5rem !important;

}

.creditTH {
  grid-column-end: span 1;
  border: none;
  font-size: .9rem;
  line-height: 1.2rem;
  font-weight: 400;
  padding: 10px 24px 10px 0px;
}

.creditTD{
  grid-column-end: span 1;
  border: none;
  font-size: .9rem;
  line-height: 1.2rem;
  font-weight: 400;
  padding: 10px 0px 10px 24px;

}

.essayFootnoteBox {
  position: absolute;
  width: 100%;
  height: 60px;
  overflow: scroll;
  background: white;
  bottom: 0;
  text-align: bottom;
  background: white;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  color: red;
  font-size: .7rem;
  line-height: .8rem;
  font-weight: 400;
  text-align: left;
  /* padding: 12px 24px 0px 36px; */
  border-top: 2px solid red;
  scrollbar-width: none;
}
.essayFootnoteBox p{
  padding: 12px 12px 0px 12px;
}

.downloadBox {
  width: 100%;
  height: 100px;
  line-height: 150px;
  padding-bottom: 50px;
  vertical-align: middle;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  color: red;
  font-size: 1.06rem;
  text-decoration: underline;
  text-underline-position: under;
  font-weight: 400;
  text-align: center;
}

/* DESCRIPTION WINDOW */

.descriptionWindow{
  background-color: white;
  position: relative;
  min-width: 200px;
}

.descriptionHeaderBox{
  position: absolute;
  height: 50px;
  margin: -2px;
  width: 228px;
}

.descriptionText{
  position: absolute;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  border: 2px solid red;
  color:  red;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
  text-align: left;
  padding: 50px 12px 12px 12px;
  width: 200px;
}

/* BODY BORDER  */
.top, .bottom, .left, .right {
	background: red;
  position: fixed;
  z-index: 1000000;
	}
	.left, .right {
		top: 0; bottom: 0;
		width: 2px;
		}
		.left { left: 0; }
		.right { right: 0; }
		
	.top, .bottom {
		left: 0; right: 0;
		height: 2px;
		}
		.top { top: 0; }
		.bottom { bottom: 0; }


.isRelatedToHoveredKeyword, .isRelatedToHoveredArtwork {
  opacity: 100%;
  /* box-shadow: 5px 10px; */
}
.isNotRelatedToHoveredKeyword, .isNotRelatedToHoveredArtwork {
  opacity: 30%;
}