/* smaller screens/horizontal ipad */
@media (min-width: 900px) and (max-width: 1200px) {
        .databaseLanding, .databaseInfo{
          grid-template-columns: repeat(9, 1fr);
        }
        .databasePanel {
            grid-template-columns: repeat(3, 1fr);
        }
        .infoPanelImage{
         grid-area: 3 / 1 / 17 / 5;
        }
        .copyrightButton{
          grid-area: 1 / 8 / 3 / 9;
        }  

        .infoExitBox {
          grid-column: 9;
        }

        .artworkInfoTable{
          grid-area: 3 / 5 / 17 / 10;

          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: repeat(12, minmax(1fr, auto));
        }

        tr{
          grid-column-end: span 5; 
          grid-template-columns: repeat(5, 1fr);
         }

        th{
          grid-column-end: span 2;
        }

        td{
          grid-column-end: span 3;
        }
    }
/* vertical ipad */
@media (min-width: 600px) and (max-width: 900px) {
        .databaseLanding {
          grid-template-columns: repeat(6, 1fr);
          grid-auto-rows: 16.66%;
        }
        .databasePanel {
            height: 33.33%;
            width: 100%;
            bottom: 0;
            grid-template-columns: repeat(6, 16.66%);
            grid-template-rows: repeat(3, 33.33%);
            grid-auto-columns: 16.66%;
            grid-auto-flow: column;
            overflow: auto;
            padding-right: 0;
        }
        .databasePanel::-webkit-scrollbar{
          display:none;
        }
        .databaseInfo {
          grid-template-columns: repeat(6,1fr);
        }
        .constellationPanel {
          width: 100%;
          height: 66.66%;
        }

        .artworkInfoTable{
          grid-area: 9 / 2 / 19 / 7;
          grid-template-columns: repeat(5, 1fr);
        }

        td{
          grid-column-end: span 3;
        }

        .infoPanelImage {
          grid-column-start: 1;
          grid-column-end: span 4;
          grid-row-start: 1;
          grid-row-end: span 8;
        }
        .copyrightButton{
          grid-area: 1 / 5 / 3 / 6;
        }  
        .infoExitBox {
          grid-column: 6;
        }
    }
/* cellphones */
@media (min-width: 0px) and (max-width: 600px) {
        .databaseInfo {
          grid-template-columns: repeat(6,1fr);
        }
  
        .databaseLanding {
          grid-template-columns: repeat(3, 1fr);
          grid-auto-rows: 16.66%;
        }

        .databasePanel {
          height: 33.33%;
          width: 100%;
          bottom: 0;
          grid-template-columns: repeat(3, 33.33%);
          grid-template-rows: repeat(2, 50%);
          grid-auto-columns: 33.33%;
          grid-auto-flow: column;
          overflow: auto;
          padding-right: 0;
      }
      .databasePanel::-webkit-scrollbar{
        display:none;
      }
      
      .constellationPanel {
        width: 100%;
        height: 66.66%;
      }

      .artworkInfoTable{
        grid-area: 10 / 1 / 19 / 7;
      }

      .infoPanelDivDesktop{
        grid-row-end: span 3;
        grid-column-end: span 2;
      }
      .infoPanelImage {
        grid-column-start: 1;
        grid-column-end: span 4;
        grid-row-start: 1;
        grid-row-end: span 9;
      }
      .copyrightButton{
        grid-area: 4 / 5 / 7 / 7;
      }  
      .twoTags{
        grid-column-end: span 1;
        grid-row-end: span 1;
        font-size: 0.9rem;
        line-height: 1.1rem;
      }
   
      .threeTags, .fourTags{
        grid-column-end: span 2;
        grid-row-end: span 2;
        font-size: 1.5rem;
        line-height: 1.7rem;
      }
      .infoExitBox {
        grid-column: 5;
        grid-column-end: span 2;
        grid-row-end: span 3;
      }

      .essayContainer {
        display: none !important;
      }

      .essayContainerMobile {
        display: block;
      }

      .copyrightContainer {
        top: 0;
        left: 0;
        width: 100vw;
        height: 50vh;
       } 
      .copyrightContainerMobile {
        display: block;
      }
      
      .essayBodyBox {
        width: 88%;
        height: 68%;
      }
      .copyrightBodyBox {
        height: 31vh;
        width: 88%;
      }
        
    }
